.prize {
    padding-top: @section_padding;
    padding-bottom: @section_padding;
    box-sizing: content-box;

    &__title {
        font-size: 60px;
        line-height: 75px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 45px;
        & span {
            display: block;
            font-size: 80px;
        }
    }
}

.prizeItems {
    &:extend(.sg-row);
    justify-content: center;
}

.priseItem {
    &:extend(.sg-col);
    .size(4);
    font-size: 24px;

    &__img {
        margin-bottom: 43px;
    }

    &__img--small {
        padding-top: 26px;
    }

    &__img--last {
        padding-top: 19px;
    }

    &__desc {
        margin-top: auto;
    }

    &__title {
        width: 190px;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: @color_red;
        margin-bottom: 40px;
    }

    &__text {
        width: 255px;
    }

    &__text--small {
        width: 165px;
    }
}