@import "vars.less";
@import "smart-grid.less";

.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.reset();

h1, h2, h3, h4, h5, h6,
p, ul, li {
    padding: 0;
    margin: 0;
}

/*
.debugGrid{
	.debug(rgba(0, 0, 0, 0.3), 1px #ff0 solid);
}*/

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerExtraBold.woff2') format('woff2'),
        url('../fonts/MullerExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: @coor_blue;
    background: @color_white;
}

.container{
	.wrapper();
}

.sg-row {
    .row-flex();
}

.sg-col {
    .col();
}

.section-bg {
    background: url('../img/bg-blue.jpg') no-repeat center top;
    background-size: cover;
}

.title-2 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: @color_white;
    margin-bottom: 70px;
    .sm-block({
        font-size: 32px;
        line-height: 45px;
    });
}

.title-3 {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

img {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
}

.button {
    display: block;
    border: none;
    outline: none;
    height: 52px;
    font-size: 24px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    color: @coor_blue;
    background: @color_yellow;
    border: 2px solid @color_yellow;
    margin: 0 auto;
    transition: all 0.5s ease;

    &:hover {
        color: @color_yellow;
        background: @coor_blue;
    }
}

::-webkit-scrollbar {
    width: 25px;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 10px;
    background-color: @coor_blue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-track {
    width: 20px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-corner {
    border-radius: 50%;
}



@import "sections/header.less";
@import "sections/main.less";
@import "sections/win.less";
@import "sections/prize.less";
@import "sections/footer.less";
@import "sections/winners.less";
@import "sections/feedback.less";
@import "sections/entrance.less";
@import "sections/registration.less";
@import "sections/lk.less";
@import "sections/modal.less";